.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.controls button {
  background: #203a43;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 14px 22px;
  box-shadow: 0 0 10px #08ffffa8;
  margin: 6px 0;
  transition: background 0.2s;
}
.controls button:active {
  background: #3877FF;
}
@media (max-width: 492px) {
  .controls button {
    background: #203a43;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 12px 12px;
    margin: 4px 0;
    
  }
}
